<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header h4"> Users </div>
      <div class="card-body">

        <table class="table table-sm table-hover">
          <thead>
          <tr>
            <td> Pid </td>
            <td> First Name </td>
            <td> Last Name </td>
            <td> City </td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let u of users">
            <td>{{u.pid}}</td>
            <td>{{u.firstName}}</td>
            <td>{{u.lastName}}</td>
            <td>{{u.city}}</td>
          </tr>
          </tbody>
        </table>


      </div>
      <div class="card-footer">
        <button class="btn btn-outline-primary" (click)="reload()"> Reload </button>
      </div>

    </div>
  </div>
  <div class="col-md-6"></div>
</div>
