<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">

    <div class="card">
      <div class="card-header">Car constructor</div>
      <div class="card-body form-group">
        <input type="text" class="form-control" [(ngModel)]="wheels" name="wheels">
        <input type="text" class="form-control" [(ngModel)]="shields" name="shields">
        <button class="btn btn-success mt-3" (click)="compute()"> Compute </button>

      </div>
    </div>
  </div>
  <div class="col-md-4"></div>

</div>
