<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">Klucz</div>
      <div class="card-body form-group">

        <input type="password" class="form-control" [(ngModel)]="adminpass">

      </div>
    </div>

    <div class="card">
      <div class="card-header">Komendy</div>
      <div class="card-body form-group">
        <input type="text" class="form-control" [(ngModel)]="command">
        <button class="btn btn-success mt-3" (click)="executeCommand()"> Run command </button>

      </div>
    </div>
  </div>
  <div class="col-md-8">
      <div class="card">
        <div class="card-header">Wynik</div>
        <div class="card-body">
          <pre *ngFor="let g of output">{{g}}</pre>
        </div>
      </div>
  </div>


</div>
